<?xml version='1.0' encoding='utf-8'?>
<widget id="com.idiomastv.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IdiomasTV</name>
    <description>
        Aplicativo de Streaming para Android TV - Estudo de Idiomas com Drive de Pobre
    </description>
    <author email="suporte@idiomastv.com" href="https://drivedepobre.com">
        IdiomasTV Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="AllowUntrustedCerts" value="true" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-manifest/application/@android:usesCleartextTraffic" value="true" />
        <preference name="android-manifest/application/activity/intent-filter/category[@name='android.intent.category.LEANBACK_LAUNCHER']" />
    </platform>
</widget>
